on pre-init

    sysclktz 0
    loglevel 7

# create system directories
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache

# show bootmgr, arg is timeout
    bootmgr 3

    mount yaffs2 /dev/block/mtdblock1 /system ro multirom
    mount yaffs2 /dev/block/mtdblock9 /data nosuid nodev multirom
    mount yaffs2 /dev/block/mtdblock8 /cache nosuid nodev multirom

    remove_rc_mounts
    unlink /sbin/ueventd
    symlink /main_init /sbin/ueventd